

.sidebar {
    float: left;
    will-change: min-height;
    width: 280px;
    max-width: 280px;
    min-height: 100vh;
    font-size: 1rem;
    z-index: 99;
}
.sidebar h6 {
    font-weight: 400;
    color: var(--secondary-color-extra-light);
}
.sidebar h5 {
    font-weight: 700;
    color: var(--secondary-color-extra-light);
}
.sidebar__inner {
    padding:  0;
    position: relative;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
    background-color: var(--color-dark);
    min-height: 100vh;
}
.sidebar__inner hr {
    background: var(--color-light-hover);
    margin: 0px 20px;
}
.sidebar__header {
    padding: 20px;
}
.sidebar__header h3 {
    color: var(--secondary-color-extra-light);
    font-family: 'Archivo Black', sans-serif !important;
}
.sidebar__section {
    padding: 20px 0;
}
.sidebar__section h6, .sidebar__section h5 {
    padding: 0 20px;
    margin-bottom: 0.5rem;
}
.sidebar__btn,
.sidebar__btn:visited {
    display: block;
    align-items: center;
    padding: 10px 20px;
    color: var(--secondary-color-light);
    font-weight: 300;
    text-decoration: none;
}
.sidebar__btn:hover,
.sidebar__btn:focus {
    background-color: var(--color-light-hover);
    color: var(--secondary-color-light);
    text-decoration: none;
    font-weight: 300;
}
.sidebar__topic-list {
    position: relative;
    padding: 10px 0;
}
.sidebar__topic-list .sidebar__list-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    color: var(--secondary-color-light);
    font-size: 0.875rem;
}
.sidebar__topic-list .sidebar__list-item.sidebar__list-item--selected {
    color: var(--primary-color-light);
}
.sidebar__list-item i {
    font-size: 16px;
    margin-right: 20px;
    color: var(--secondary-color-dark);
    opacity: 0.3;
}
.sidebar__list-item.sidebar__list-item--selected i {
    color: var(--primary-color-light);
    opacity: 1;
}

/* Vertical Line */
.sidebar__topic-list .sidebar__list-item:not(:last-child)::before {
    content: "";
    position: absolute;
    display: block;
    top: 32px;
    left: 26px;
    width: 4px;
    height:calc(100% - 20px);
    background-color:var(--secondary-color-dark);
    z-index: 0;
    opacity: 0.3;
}
.sidebar__list-item--selected i.bi-check-circle-fill::after {
    content: "";
    position: absolute;
    display: block;
    top: 32px;
    left: 26px;
    width: 4px;
    height:calc(100% - 20px);
    background-color: var(--primary-color-light);
}

.sidebar__section img {
    padding: 0 20px;
}

.content {
    margin-left: 280px;
}

#sidebar-toggle {
    display:none;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 991.9px) {
    .sidebar {
        width: calc(100vw - 25%);
        max-width: calc(100vw - 25%);
        position: fixed;
        left: calc(-100vw + 25%);
        max-height: 100%;
        overflow-y: scroll;
        transition: 0.3s;
        transition-timing-function: ease-out;
    }
    .content {
        margin-left: 0px;
        transition: 0.15s;
        
    }
    #sidebar-toggle {
        position: fixed;
        top: 0;
        right: 0;
        display:flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: 20px;
        background-color: var(--primary-color);
        z-index: 100;
        /* transition: 0.3s;
        transition-timing-function: ease-out; */
        box-shadow: 0px 2px 8px rgb(0 0 0 / 50%);
    }
    
    /* Menu Hamburgues Animado */

    /* .box {
        border-radius: 50%;
        position: absolute;
        top: 0%;
        right: 0%;
        width: 60px;
        height: 60px;
        background: #3faf82;
        box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
        display:flex;
        align-items:center;
        justify-content:center;
      } */
      
    #sidebar-toggle .btn {
    width: 50px;
    cursor: pointer;
    }
    
    #sidebar-toggle span {
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 3px;
    background: #fff;
    transition: all .3s;
    position: relative;
    }
    
    #sidebar-toggle span + span {
    margin-top: 5px;
    }
    
    #sidebar-toggle .active span:nth-child(1) {
    animation: ease .3s top forwards;
    }
    
    #sidebar-toggle .not-active span:nth-child(1) {
    animation: ease .3s top-2 forwards;
    }
    
    #sidebar-toggle .active span:nth-child(2) {
    animation: ease .3s scaled forwards;
    }
    
    #sidebar-toggle .not-active span:nth-child(2) {
    animation: ease .3s scaled-2 forwards;
    }
    
    #sidebar-toggle .active span:nth-child(3) {
    animation: ease .3s bottom forwards;
    }
    
    #sidebar-toggle .not-active span:nth-child(3) {
    animation: ease .3s bottom-2 forwards;
    }
    
    @keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 8px;
        transform: rotate(0);
    }
    100% {
        top: 8px;
        transform: rotate(45deg);
    }
    }
    
    @keyframes top-2 {
    0% {
        top: 8px;
        transform: rotate(45deg);
    }
    50% {
        top: 8px;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
    }
    
    @keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 8px;
        transform: rotate(0);
    }
    100% {
        bottom: 8px;
        transform: rotate(-45deg);
    }
}
    
    @keyframes bottom-2 {
    0% {
        bottom: 8px;
        transform: rotate(-45deg);
    }
    50% {
        bottom: 8px;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
    }
    
    @keyframes scaled {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
    }
    
    @keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
    }
      
    /* ------------------------ */

    .sidebar--close {
        left: -100%;
        /* transition: 0.3s;
        transition-timing-function: ease-out; */
    }
    .sidebar--open {
        left: 0;
    }
    .overlay {
        position:fixed;
        height: 100vh;
        width: 100vw;
        background-color: #000000;
    }
    .sidebar-toggle--close{
        right:0;
    }
    .sidebar-toggle--open {
        /* left:calc(100vw - 25%); */
        right: 0;
    }
    .touch-enable {
        touch-action:inherit;
    }
    .touch-disable {
        touch-action: none;
        filter: blur(4px);
    }
}