
@import "sidebar.css";
@import "header.css";
@import "colors.css";


/*
    font-family: 'Roboto', sans-serif;
    font-family: 'Aleo', serif;
    font-family: 'Archivo Black', sans-serif;
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Aleo', serif;
}

body {
    background-color: #ffffff;
    font-size: 1.25rem;
}

.main-content {
    position: relative;
}






